body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(0, 115, 112);
  margin: 0;
  padding: 40px;
}

a {
  color: #1929a0;
}

.highlighted {
  background-color: #0d0d0d;
  color: #66ff33;
  padding: 2px;
  font-family: monospace;
}

.subtitle, .pledgetitle, .welcome {
  text-align: center;
}
.title{
  background-image: url("https://kajsarasten.files.wordpress.com/2014/04/feathers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  font-size: 180px;
  color: #ffffe6;

}
}

#list-title {
  color: #37217a;
}
